.apartform {

    .form__title {
        color: $black;
        font-size: 24px;
    }

    .form__block {
        display: flex;
        margin-bottom: 20px;

        .block__label {
            color: #212121;
            font-size: 14px;
        }

        .block__inp {
            background: #EEEEEE;
            color: $black;
            border: none;
            width: 350px;
            padding: 10px;
        }

        .block__label {
            width: 370px;
        }

        &--btns {
            .block__radio-label {
                display: inline-block;
                cursor: pointer;
                position: relative;
                width: 170px;
                height: 50px;
                margin-right: 20px;
    
                &:before {
                    content: "Продажа";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 170px;
                    height: 50px;
                    margin-right: 10px;
                    position: absolute;
                    left: 0;
                    bottom: 1px;
                    background-color: #EEEEEE;
                    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
                }
    
                .block__radio:checked + .block__radio-label:before {
                        content: "Продажа";
                        color: #ffffff;
                        background: $blue;
                    }
                    
            }
    
            .block__radio {
                display: none;
            }
        }
    }
}