.apartment {

    .apartment__title {
        margin-top: 0;
    }

    .apartment__block {
        display: flex;
        justify-content: space-between;

        @include phones() {
            flex-direction: column;
        }

        .block__left {
            width: 60%;
            display: flex;
            justify-content: space-around;

            @include phones() {
                width: 100%;
            }
        }

        .left__col {
            width: 21%;

            .left__small {
                width: 100%;
            }
        }

        .left__large-col {
            width: 65%;

            .large-col__img {
                width: 100%;
            }
        }

        .block__content {
            width: 40%;
            padding-left: 20px;

            @include phones() {
                width: 100%;
                padding-left: 0;
            }

            .content__btns {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .btns__btn {
                width: 45%;

                &--white {
                    background: none;
                    color: $blue;
                    border: 1px solid $blue;
                    transition: .3s;

                    &:hover {
                        background: $blue;
                        color: #ffffff;
                    }
                }
            }

            .price {

                .price__blue {
                    color: $blue;
                    font-size: 36px;
                    font-weight: bold;
                }
            }
        }
    }

    .apartment__about {
        color: $black;

        .about__title {
            font-size: 36px;
        }
    }
}