.header {
    .header__top {
        background: #EEEEEE;
    }

    .top__container, .bottom__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__bottom {
        background: #F5F5F5;
        height: 70px;
    }

    .bottom__container {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .top__text {
        max-width: 270px;
        line-height: 17px;
    }

    .top__socials {
        display: flex;
        align-items: center;
        justify-content: center;

        .socials__item {
            margin-right: 10px;
        }
    }

    .top__mail {
        color: $black;
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: $blue;
        }
    }

    .top__address {
        display: flex;
        align-items: center;
        transition: .3s;

        &:hover {
            color: $blue;
        }
    }

    .top__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;

        .contacts__phone {
            color: $black;
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: $blue;
            }
        }

        .contacts__btn {
            border: none;
            background: none;
            text-decoration: underline;
            cursor: pointer;
            color: $blue;
            transition: .3s;

            &:hover {
                color: $black;
            }
        }
    }

    .bottom__menu {
        display: flex;
        height: 100%;

        .menu__item {
            margin-right: 30px;
            height: 100%;

            &:last-child {
                margin-right: 0;
            }
        }

        .item__link {
            font-size: 14px;
            text-transform: uppercase;
            color: $black;
            text-decoration: none;
            transition: .3s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            &::after {
                content: "";
                width: 0;
                height: 0;
                background: $blue;
                transition: .3s;
            }

            &:hover {
                color: $blue;

                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    margin-top: 20px;
                    background: $blue;
                }
            }
        }
    }
}