.hot {

    .hot__btns {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        @include tablets() {
            flex-wrap: wrap;
        }

        .btns__btn {
            @include tablets() {
                width: 45%;
                align-items: center;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        .btn__btn {
            border: none;
            background: none;
            cursor: pointer;
            height: 40px;
            transition: .3s;
            margin-right: 10px;

            &:hover {
                background: $blue;
                color: #ffffff;
            }

            &--active {
                background: $blue;
                color: #ffffff;
            }
        }

        .btns__btn--arrow {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .hot__slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        .slider__slide {
            display: flex;
            flex-direction: column;
            width: 23%;
            min-height: 380px;
            background: #EEEEEE;
            overflow: hidden;
            margin-right: 20px;

            @include phones() {
                margin-right: 0;
            }

            .slide__top {
                height: 50%;
                position: relative;
                overflow: hidden;

                .top__img {
                    height: 100%;

                    @include tablets() {
                        width: 100%;
                    }
                }

                .square {
                    position: absolute;
                    left: 15px;
                    top: 15px;
                    background: #FF8025;
                    color: #ffffff;
                    padding: 10px;
                }
            }

            .slide__title {
                width: 100%;
                background: $blue;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0;
                padding: 10px 10px;
                text-transform: uppercase;
                font-size: 14px;
            }

            .slide__about {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 10px;
                justify-content: space-between;

                .about__item {
                    margin-bottom: 5px;
                }
            }
        }
    }
}