.news {

    .news__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablets() {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
        }

        .news__link {
            text-decoration: none;
            background: none;
            border: 1px solid $blue;
            color: $blue;

            &:hover {
                color: #ffff;
                background: $blue;
            }
        }
    }

    .news__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include tablets() {
            flex-wrap: wrap;
            flex-direction: row;
        }

        @include horizon() {
            flex-direction: column;
        }

        .news__section {
            position: relative;
            overflow: hidden;
            color: #ffff;
            background: url('../images/news/1.png') center center no-repeat;
            background-size: cover;
            height: 450px;
            width: 22%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            text-decoration: none;
            transition: .3s;

            &:hover {
                opacity: .8;
            }

            @include tablets() {
                width: 45%;
                margin-bottom: 50px;
            }

            @include horizon() {
                width: 100%;
                margin-bottom: 50px;
            }

            &--double {
                background: none;
                justify-content: space-between;
                padding: 0;
            }

            .section__item {
                background: url('../images/news/2.png') center center no-repeat;
                background-size: cover;
                height: 45%;
                padding: 20px;
                color: #ffff;
                text-decoration: none;
                transition: .3s;

                &:hover {
                    opacity: .8;
                }
            }

            .section__btn {
                text-decoration: none;
                text-align: center;
                margin-top: 30px;
            }

            .source {
                margin-bottom: auto;
            }
        }
    }
}