.reviews {

    .reviews__row {
        display: flex;
        align-items: center;

        @include tablets() {
            flex-wrap: wrap;
        }

        .reviews__title {
            margin: 0;
        }

        .reviews__link {
            margin-right: auto;
            color: $blue;
            margin-left: 20px;
            margin-top: 15px;
        }

        .reviews__btn {
            background: none;
            border: none;
            cursor: pointer;
            margin-right: 20px;
            transition: .3s;

            &:hover {
                background: $blue;
                color: #ffffff;
            }
        }
    }

    .reviews__slider {
        display: flex;
        margin-top: 30px;
    }

    .slider__slide {
        margin-right: 20px;
        overflow: hidden;

        @include phones() {
            margin-right: 0;
        }
    }
}