<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сигма</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__top">
                <div class="container top__container">
                    <p class="top__text">
                        Срочный выкуп и быстрая продажа недвижимости в Челябинске и области
                    </p>
                    <ul class="top__socials">
                        <li class="socials__item">
                            <a href="#" class="item__link">
                                <img src="./assets/images/socials/instagram.png" alt="instagram" class="link__img">
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="#" class="item__link">
                                <img src="./assets/images/socials/facebook.png" alt="facebook" class="link__img">
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="#" class="item__link">
                                <img src="./assets/images/socials/vk.png" alt="vk" class="link__img">
                            </a>
                        </li>
                    </ul>
                    <div class="top__address">
                        <p class="address__text"><i class="fas fa-map-marker-alt"></i> г. Челябинск, ул. Братьев
                            Кашириных 86</p>
                    </div>
                    <a href="mailto:74sigma@mail.ru" class="top__mail">
                        <i class="fas fa-envelope"></i>
                        74sigma@mail.ru
                    </a>
                    <div class="top__contacts">
                        <a href="tel:+73517768570" class="contacts__phone">+7 (351) 776‒85‒70</a>
                        <button class="button contacts__btn">Обратный звонок</button>
                    </div>
                </div>
            </div>
            <div class="header__bottom">
                <div class="container bottom__container">
                    <a href="#" class="bottom__logo">
                        <img src="./assets/images/logo.png" alt="Sigma74" class="logo__img">
                    </a>
                    <ul class="bottom__menu">
                        <li class="menu__item"><a href="#" class="item__link">Главная</a></li>
                        <li class="menu__item"><a href="#" class="item__link">Недвижимость</a></li>
                        <li class="menu__item"><a href="#" class="item__link">услуги</a></li>
                        <li class="menu__item"><a href="#" class="item__link">Наши работы</a></li>
                        <li class="menu__item"><a href="#" class="item__link">Полезные материалы</a></li>
                        <li class="menu__item"><a href="#" class="item__link">География продаж</a></li>
                        <li class="menu__item"><a href="#" class="item__link">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="section contacts">
            <div class="container contacts__container">
                <h1 class="title contacts__title">Контакты</h1>
                <div class="contacts__about">
                    <div class="about__text">
                        <h3 class="text__title">
                            Агентство недвижимости «Сигма» В сфере недвижимости с 2001 г.
                        </h3>
                        <p class="text__text">
                            Реквизиты: ИП ШКОДСКИХ ВЛАДИМИР ВИКТОРОВИЧ, ИНН 744700215229, ОГРН 305744701200090, КПП 0
                        </p>
                        <p class="text__text">
                            Юридический адрес: 454001, РОССИЯ, ОБЛ ЧЕЛЯБИНСКАЯ, Г ЧЕЛЯБИНСК, ПР-КТ ПОБЕДЫ, д.303,
                            корп.2, кв.4
                        </p>
                        <p class="text__text">
                            Расчетный счет: 40817810072196427258, Челябинское отделение № 8597 ПАО Сбербанк г.
                            Челябинск, Корр. счет Банка: 30101810700000000602
                        </p>
                        <p class="text__text">
                            ИНН Банка: 7707083893, БИК Банка: 047501602, Юридический адрес Банка: Москва, 117997, ул.
                            Вавилова, д. 19.
                        </p>
                    </div>
                    <div class="about__img">
                        <img src="./assets/images/contacts.png" alt="#" class="img__img">
                    </div>
                </div>
                <div class="contacts__map">
                    <div class="map__map">
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aff7106a64cefd6b9725dd7c521e56eedc067bd9c02fd49f485cdda06da3a4f3f&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                    <div class="map__text">
                        <h2 class="title text__title">Контакты</h2>
                        <h3 class="text__subtitle">Адрес</h3>
                        <p class="text__text"><i class="fas fa-map-marker-alt"></i> г. Челябинск, ул.Братьев Кашириных 86</p>
                        <h3 class="text__subtitle">Телефон</h3>
                        <a href="tel:+73517768570" class="text__text">+7 (351) 776‒85‒70</a>
                        <a href="tel:+79517761170" class="text__text">+7 (951) 776‒11‒70</a>
                        <h3 class="text__subtitle">e-mail</h3>
                        <a href="mailto:74sigma@mail.ru" class="text__text"><i class="fas fa-envelope"></i> 74sigma@mail.ru</a>
                        <ul class="text__socials">
                            <li class="socials__item">
                                <a href="#" class="item__link">
                                    <img src="./assets/images/socials/instagram.png" alt="instagram" class="link__img">
                                </a>
                            </li>
                            <li class="socials__item">
                                <a href="#" class="item__link">
                                    <img src="./assets/images/socials/facebook.png" alt="facebook" class="link__img">
                                </a>
                            </li>
                            <li class="socials__item">
                                <a href="#" class="item__link">
                                    <img src="./assets/images/socials/vk.png" alt="vk" class="link__img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <div class="callback__content">
                    <h2 class="title callback__title">Остались вопросы?</h2>
                    <p class="callback__text">Оставьте заявку и наш менеджер перезвонит вам в течение 30 минутс и с
                        радостью ответит на все ваши вопросы!</p>
                    <form class="callback__form">
                        <div class="form__row">
                            <div class="form__section">
                                <p class="form__text">Ваше имя</p>
                                <input type="text" class="form__inp" placeholder="Александра">
                            </div>
                            <div class="form__section">
                                <p class="form__text">Ваш номер телефона</p>
                                <input type="text" class="form__inp" placeholder="+7 (351) 776‒85‒70">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__section">
                                <p class="form__text">Ваш номер телефона</p>
                                <input type="text" class="form__inp" placeholder="+7 (351) 776‒85‒70">
                            </div>
                            <button class="btn form__btn">Оставить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__top">
                    <div class="footer__col">
                        <a href="#" class="footer__logo">
                            <img src="./assets/images/logo.png" alt="Sigma74" class="logo__img">
                        </a>
                        <p class="footer__text">
                            Срочный выкуп и быстрая продажа недвижимости в Челябинске и области
                        </p>
                    </div>
                    <div class="footer__col">
                        <h2 class="title footer__title">навигация по сайту</h2>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="item__link">Главная</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Наши работы</a></li>
                            <li class="footer__item"><a href="#" class="item__link">География продаж</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="footer__col">
                        <h2 class="title footer__title">Недвижимость</h2>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <p class="item__text">Продажа</p>
                            </li>
                            <li class="footer__item"><a href="#" class="item__link">Новая квартира</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Вторичное жилье</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Земельные участки</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Коммерческая</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Cад</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Гараж</a></li>
                            <li class="footer__item">
                                <p class="item__text">Аренда</p>
                            </li>
                            <li class="footer__item"><a href="#" class="item__link">Вторичное жилье</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Коммерческая</a></li>
                        </ul>
                    </div>
                    <div class="footer__col">
                        <h2 class="title footer__title">наши услуги</h2>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="item__link">Как составить договор дарения,
                                    купли-продажи</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Узаконивание перепланировок</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Оформление земельных участков</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Юридическое сопровождение сделки
                                    купли-продажи</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Срочный выкуп квартир</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Оформление наследства</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Составление исковых заявлений в
                                    суд,
                                    ведение дел в суде</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Приватизация</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Ипотека, материнский (семейный)
                                    капитал</a></li>
                        </ul>
                    </div>
                    <div class="footer__col">
                        <h2 class="title footer__title">Полезные материалы</h2>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="item__link">Новости и полезные статьи</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Вопросы-ответы</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Районы Челябинска</a></li>
                            <li class="footer__item"><a href="#" class="item__link">Адреса и телефоны служб</a></li>
                        </ul>
                    </div>
                    <div class="footer__col">
                        <h2 class="title footer__title">Контакты</h2>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#" class="item__link">+7 (351) 776‒85‒70</a>
                                <button class="footer__btn">Обратный звонок</button>
                            </li>
                            <li class="footer__item"><a href="mailto:74sigma@mail.ru" class="item__link"><i class="fas fa-envelope"></i>
                                    74sigma@mail.ru</a></li>
                            <li class="footer__item"><i class="fas fa-map-marker-alt"></i> г. Челябинск, ул. Братьев
                                Кашириных 86</li>
                            <li class="footer__item">
                                <a href="#" class="footer__icon">
                                    <img src="./assets/images/socials/instagram.png" alt="instagram" class="link__img">
                                </a>
                                <a href="#" class="footer__icon">
                                    <img src="./assets/images/socials/facebook.png" alt="facebook" class="link__img">
                                </a>
                                <a href="#" class="footer__icon">
                                    <img src="./assets/images/socials/vk.png" alt="vk" class="link__img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__bot">
                    <p class="footer__text">© Агенство недвижимости «СИГМА», 2018</p>
                    <a href="#" class="footer__rp">
                        <p class="rp__text">Создание и продвижение сайта</p>
                        <img src="./assets/images/rp-logo.png" alt="logo" class="rp__logo">
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>